html{
	font-size: 62.5%;
}
body{
	margin: 20px 15% 20px 15%;
	background-color: #fefff0;
	font-family: "Zalando Sans Expanded", "sans-serif";
}
h1{
	text-decoration: underline;
	text-transform: uppercase;
	font-size: 2.5em;
}
p{
	color: darkred;
	font-weight: 200;
	font-family: "Merriweather", "sans-serif";
	font-size: 1.2em;
}
li{
	line-height: 2.5em;
	font-weight: 200;
	font-size: 1.2em;
}
h4,h2{
	font-weight: 500;
	font-size: 2em;
}